.sidebarFriend{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    color: white;
    transition: all .2s ease-in-out;
    cursor: pointer;
}
.sidebarFriend:hover{
    color: #2a9fd6;
}

.sidebarFriendImg{
    width: 32px;
    height: 32px;
    border-radius: 50px;
    object-fit: cover;
    margin-right: 10px;
}