.right-bar{
    flex: 4;
}

.rightBarWrapper{
    padding: 20px 20px 0 0;

}

.birthdayContainer{
    display: flex;
    align-items: center;
}

.birthdayImg{
    margin-right: 10px;
}

.birthdayText{
    font-weight: 300;
    font-size: 15px;
    color: white;
}

.birthdayFriend{
    font: bold;
    cursor: pointer;
    color: #f80;
}

.rightBarTitle{
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.rightBarFriendList{
    padding: 0;
    margin: 0;
    list-style: none;
}

.rightBarFriend{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.rightbarProfileImgContainer{
    margin-right: 10px;
    position: relative;
}

.rightBarFriendProfileImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.rightBarOnline{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: limegreen;
    position: absolute;
    top: -2px;
    right: 0;
    border: 2px solid white;
}

.rightBarUserName{
    font-weight: 500;
    color: white;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.rightBarUserName:hover{
    color: #2a9fd6;
}